<section class="todoapp">
  <header class="header text-center">
    <h1>Todos</h1>
    <input class="max-width" placeholder="Add TODO & press enter." autofocus="" [(ngModel)]="newToDo.title" (keyup.enter)="onAddTodo()">
  </header>
  <br />
  <div class="card" *ngIf="todos.length > 0">
    <ul class="list-group">
      <li *ngFor="let todo of todos" [class.completed]="todo.complete">
        <div class="view">
          <input class="toggle" type="checkbox" (click)="onToggleTodoComplete(todo)" [checked]="todo.complete">
          <label>{{todo.title}}</label>
          <button class="btn-danger btn-sm" (click)="onRemoveTodo(todo)">delete</button>
        </div>
      </li>
    </ul>
  </div>
  <footer class="footer" *ngIf="todos.length > 0">
    <span class="text-info"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
  </footer>
</section>
